.header{
  position: sticky;
  top: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 12px 16px;
}

.burger{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  justify-self: start;
}

.burger img{
  width: 24px;
  height: auto;
}

.logo{
  justify-self: center;
}

.logo img{
  width: 110px;
  height: auto;
}

.header-ikoner{
  display: flex;
  gap: 12px;
  justify-self: end;
  align-items: center;
}

.ikon img{
  width: 24px;
  height: auto;
}

